<h1>Hello World from hello</h1>

<%= 1 + 1 %><br />

<% target = "world" %>
<%= "Hello #{target}" %>

<br />

<% @array.each do |n| %>
    <%= n %><br />
<% end %>

<%= link_to('Back to Home', {:action => 'index'}) %><br />

<br />

ID: <%= @id %><br />
ID: <%= params[:id] %><br />
Page: <%= @page %><br />
Next Page: <%= @page.to_i + 1 %><br />

